<footer class="site-footer">

  <div class="wrapper">

    <div>
      <a href="/">Game Show Studio Home</a>
    </div>
    <div>
      <a href="/press">Press Kit</a>
    </div>
    <div>
      <a href="/about">About Us</a>
    </div>
    <div>
      <a href="/contact">Contact Us</a>
      <br></br>
    </div>
    <div class="footer-legal">
        Apple, the Apple logo,  Apple TV, iPad, and iPhone are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc.
    </div>

  </div>

</footer>
